* {
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

body {
    border: .2rem solid rgb(rgb(11, 16, 31));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    padding: .5rem;
    border: .2rem solid black;
    height: 4rem;
    align-items: center;
    background-color: black;
    color: #fff;
}

.titulo {
    border: .2rem solid black;
    width: 100%;
}


.logo {
    border: .2rem solid rgb(215, 6, 243);
    color: rgb(215, 6, 243);
    font-weight: bold;
    width: 1rem;
    height: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    margin-right: .7rem;
}

section {
    display: flex;
    flex: 1;
}

nav {
    width: 10rem;
    background-color: gray;
    padding: .5rem;
}

footer {
    height: 4rem;
    padding: .5rem;
    background-color: black;
    color: #fff;
}

main {
    display: flex;
    flex: 1;
    padding: .5rem;
}

.conteudo {
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    margin: 1rem auto;
    width: 20rem;
    padding: 0.5rem;
    height: 30rem;
    box-shadow: 0.5rem 0.5rem .3rem .3rem #181818;
}

img {
    width: 100%;
    border-radius: .5rem;
}

button {
    width: 100%;
    padding: .5rem;
    border: none;
    background-color: rgb(44, 42, 42);
    color: white;
    border-radius: .5rem;
}

button:hover {
    background-color: #635e5e;
    color: white;
}

a {
    color: #635e5e;
    text-decoration: none;
}

#link {
    text-align: right;
}